.title{
    text-align: center;
    font-size: x-large;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.info{
    width: 40%;
    height: 450px;
    display: grid;
    margin: auto;
    border: 1px solid black;
}

@media only screen and (max-width: 767px) {
    .info{
        width: 80%;
    }
}

ul{
    list-style-type: none;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15%; 
}

.button{
    display: inline-block;
    width: 20%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.btnd{
    margin-left: 30%;
    margin-right: 2%;
}
